* {
    -darker: #064998;
    -dark: #2f8ddd;
    -light: #add9ff;
}

.context-menu {
    -fx-padding: 0;
    -fx-background-color: -light;
}

.menu-bar {
    -fx-padding: 0;
    -fx-background-color: -light;
}

.menu {
    -fx-padding: 0.5em 1em 0.5em 1em;
}
.menu-item {
    -fx-padding: 0.5em 1em 0.5em 1em;
}
.choice-box {
    -fx-background-color: -light;
    -fx-pref-width: 15em;
    -fx-pref-height: 3em;
}
.choice-box .menu-item {
    -fx-pref-width: 16em;
    -fx-pref-height: 3em;
}
.choice-box:hover {
    -fx-background-color: -light;
}
/*bottom hbox and buttons*/
.bottomBox {
    -fx-background-color: -darker;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.digitBox {
    -fx-background-insets: 0, 10 ;
    -fx-padding: 4 ;
}

.button {
    -fx-pref-height: 3em;
    -fx-pref-width: 7em;
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 8;
    -fx-background-color: -darker;
    -fx-font-weight: bold;
    -fx-font-size: 1em;
    -fx-text-fill: white;
}

.bottomBox > .button {
    -fx-padding: 1em 1em 1em 1em;
    -fx-background-radius: 8;
    -fx-background-color: -light;
    -fx-font-weight: bold;
    -fx-font-size: 1em;
    -fx-text-fill: -darker;
}

.bottomBox > .button:hover {
    -fx-background-color: -dark;
    -fx-text-fill: -light;
}
.icon-button {
    -fx-padding: 1em 1em 1em 1em;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: -dark
}

.text {
    -fx-font-size: 1em;
    -fx-padding: 1em 1em 1em 1em;
}
.root {
    -fx-base: -light;
    -fx-accent: -darker;
    -fx-default-button: -darker;
    -fx-focus-color: -darker;
    -fx-faint-focus-color: -darker;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
        );
    -fx-focused-mark-color : -darker;
    -fx-font-size: 16;
    -fx-font-family: 'Verdana';
}

.optionBox {
    -fx-spacing: 1em;
}


.text-field {
    -fx-background-color: -light;
    -fx-pref-width: 15em;
    -fx-pref-height: 3em;
}

.text-area .content {
    -fx-background-color: black;
}

.text-area {
    -fx-pref-width: 1000px;
    -fx-pref-height: 800px;
    -fx-font-family: 'Noto Sans';
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-display-caret:true;
}

.result {
    -fx-font-size: 2em;
    -fx-padding: 1em 1em 1em 1em;
}

/*scroll bar normal*/
.scroll-pane {
   -fx-background-color: -darker;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: -darker;
}

.increment-button, .decrement-button {
    -fx-background-color: -darker;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: -darker;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -light;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: -darker;
}


/*Scroll bar terminal*/
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: black;
}

.increment-button, .decrement-button {
    -fx-background-color: black;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.canvas {
    -fx-background-insets: 0, 20;
    -fx-padding: 20;
}
