/* changes */
.context-menu {
-fx-padding: 0; }

/*bottom hbox and buttons*/
.bottomBox {
    -fx-background-color: #0096C9;
    -fx-padding: 15;
    -fx-spacing: 10;
}
.bottomBox > .button {
    -fx-spacing: 0.333333em;
    -fx-padding: 0.5em 1em 0.5em 1em;
    -fx-alignment: bottom-right;
}

.digitBox {
    -fx-background-insets: 0, 10 ;
    -fx-padding: 4 ;
}

.button2 {
-fx-pref-height: 28px;
    -fx-pref-width: 200px;
    -fx-padding: 5 5 5 5;
    /*-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;*/
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
            #7a7c7d,
            #9b9d9e;
            /*radial-gradient(center 50% 50%, radius 100%, #7a7c7d, #9b9d9e);*/
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );*/
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: white;
}
.button2:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
            #7a7c7d,
            #9b9d9e,
            radial-gradient(center 50% 50%, radius 100%, #9b9d9e, #7a7c7d);
}
.button2:pressed {
    -fx-padding: 5 5 5 5;
    /*-fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;*/
}
.button2 Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}